[Desktop Entry]
Type=Application
Exec=guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[cs]=Guake terminal
Name=Guake terminal
Comment[cs]=dropdown terminal
Comment=dropdown terminal
